p.alert.alert-success.alert-dismissable
	button.close( type="button" data-dismiss="alert" aria-hidden="true" ) &times;
	|User has been updated

form.admin-model-form( action=form_url method="POST" )
	if form_method
		input( type="hidden" name="_method" value=form_method )
	.container-fluid
		.row
			.col-lg-9
				.form-group
					label( for="username" ) Username:
					input#username.form-control.input-lg( type="text" value="Admin" placeholder="Enter username" name="username" )
				.form-group
					label( for="email" ) Email:
					input#email.form-control( type="email" value="admin@admin.admin" placeholder="Enter email..." name="email" )

				.form-group
					label( for="password" ) Password:
					input#password.form-control( type="password" placeholder="Enter password..." name="password")

				.form-group
					label( for="confirm-password" ) Confirm password:
					input#confirm-password.form-control( type="password" placeholder="Confirm password..." name="confirm-password" )
				h3 Profile
				.form-group
					label( for="first-name" ) First name:
					input#first-name.form-control( type="text" value="Admin" name="first-name" )
				
				.form-group
					label( for="last-name" ) Last name:
					input#last-name.form-control( type="text" value="Admin" name="last-name" )

			aside.col-lg-3
				.panel.panel-default
					.panel-heading Additional
					.panel-body
						button.btn.btn-success.btn-block( type="submit" )
							i.glyphicon.glyphicon-floppy-save
							if form_method
								|&nbsp;Update
							else
								|&nbsp;Save
						a.btn.btn-warning.btn-block( href="/admin/users/" )
							i.glyphicon.glyphicon-remove
							|&nbsp;Cancel

