extends ../../layouts/admin

block content
	if success && success.length
		p.alert.alert-success.alert-dismissable
			button.close( type="button" data-dismiss="alert" aria-hidden="true" ) &times;
			|#{success}

	section.admin-panel.panel.panel-default
		.panel-heading
			h4.pull-left Users
			a.btn.btn-success.pull-left( href="/admin/users/new" )
				i.glyphicon.glyphicon-file
				|&nbsp;Add new

			.clearfix

	table.table.table-striped.table-hover.admin-table
		thead
			tr
				th Username
				th Email
				th.actions Actions
		tbody
			if users
				each user in users
					tr
						td
							a( href="/admin/users/" + user.id + "/edit" ) #{user.username}
						td #{user.email}
						td.actions
							a.btn.btn-xs.btn-warning( href="/admin/users/" + user.id + "/edit" )
								i.glyphicon.glyphicon-pencil
								|&nbsp;Edit
							form( action="/admin/users/" + user.id method="POST" )
								input( type="hidden" name="_method" value="DELETE" )
								input( type="hidden" name="_csrf" value=csrf_token )
								button.btn.btn-xs.btn-danger( type="submit" )
									i.glyphicon.glyphicon-trash
									|&nbsp;Delete
