extends ../../layouts/admin

block content
	if success.length
		p.alert.alert-success.alert-dismissable
			button.close( type="button" data-dismiss="alert" aria-hidden="true" ) &times;
			|#{success}

	section.admin-panel.panel.panel-default
		.panel-heading
			h4.pull-left Users
			a.btn.btn-success.pull-left( href="/admin/users/new" )
				i.glyphicon.glyphicon-file
				|&nbsp;Add new

			form.search-form.input-group.pull-right( action="#" )
				input.search-input.form-control( type="text" placeholder="Search..." )
				span.input-group-btn
					button.btn.btn-primary( type="submit" )
						i.glyphicon.glyphicon-search

			.clearfix

	table.table.table-striped.table-hover.admin-table
		thead
			tr
				th Username
				th Email
				th.actions Actions
		tbody
			each user in users
				tr
					td
						a( href="/admin/users/" + user.id + "/edit" ) #{user.username}
					td #{user.email}
					td.actions
						a.btn.btn-xs.btn-warning( href="/admin/users/" + user.id + "/edit" )
							i.glyphicon.glyphicon-pencil
							|&nbsp;Edit
						form( action="/admin/users/" + user.id + "?_method=DELETE" method="POST" )
							button.btn.btn-xs.btn-danger( type="submit" )
								i.glyphicon.glyphicon-trash
								|&nbsp;Delete
