doctype html
|<!--[if lt IE 7]>  
|<html class="ie ie6 lte8 lte7" lang="en">
|<![endif]-->
|<!--[if IE 7]>
|<html class="ie ie7 lte8 lte7" lang="en">
|<![endif]-->
|<!--[if IE 8]>
|<html class="ie ie8 lte8" lang="en">
|<![endif]-->
|<!--[if !IE]><!-->
html( lang="en" )
	|<!--<![endif]-->
	head
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="keywords" content="" )
		meta( name="description" content="" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )
		link( rel="shortcut icon" type="image/x-icon" href="/favicon.ico" )
		link( rel="stylesheet" href="/css/main.css" )
		link( rel="stylesheet" href="/css/bootstrap.css" )
		link( rel="stylesheet" href="/css/jquery-ui.min.css" )

		script( type="text/javascript" src="/js/jquery.js" )
		script( type="text/javascript" src="/js/jquery-migrate.js" )
		script( type="text/javascript" src="/js/modernizr.js" )
		script( type="text/javascript" src="/js/bootstrap.js" )
		script( type="text/javascript" src="/js/jquery-ui.min.js" )

		title Express.js admin panel

		|<!--[if (gte IE 6)&(lte IE 8)]>
		|	<script type="text/javascript" src="/js/selectivizr.js"></script>
		|<![endif]-->
	body
		block main

		script( type="text/javascript" src="/js/jquery.nestedsortable.js" )
		script( type="text/javascript" src="/js/main.js" )
